.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 299;
    background: #000;
    _position: absolute;
    font-size: 12px;
    min-width: 1020px;
}

.topbar .content {
    max-width: 1560px;
    min-width: 960px;
    height: 50px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    z-index: 299;
}

.top-nav {
    height: 50px;
}

.top-nav > li {
    position: relative;
    margin: 0 6px;
    float: left;
}

.topbar .shopgif {
    background: url(../img/shop2.gif) no-repeat;
}

.top-nav > li a {
    display: block;
    padding: 0 12px 0 13px;
    line-height: 50px;
    color: #ccc;
    font-size: 14px;
}

.top-nav > li a:hover {
    color: #cf9;
    background-color: #222;
}

.topbar .top-nav .current a {
    color: #cf9;
}

.top-nav > li a i {
    float: right;
    display: block;
    width: 7px;
    height: 4px;
    margin: 23px 0 0 3px;
    font-size: 0;
    background: url(../img/topbar_sprite2.png) no-repeat -223px -18px;
}

.top-nav > li:hover a i {
    background-position: -231px -18px;
}

.top-nav > li .dropdownmenu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 80px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    background: #222;
    z-index: 299;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.top-nav > li:hover .dropdownmenu {
    height: auto;
    opacity: 1;
}

.top-nav > li .dropdownmenu li {
    height: 0;
    transition: height .25s ease .1s;
}

.top-nav > li:hover .dropdownmenu li {
    height: 36px;
}

.topbar .dropdownmenu a {
    display: block;
    height: 36px;
    line-height: 36px;
    color: #ccc;
    padding-left: 9px;
    font-size: 14px;
}

.topbar .dropdownmenu > li > a:hover {
    color: #fff;
    background: #5a840a;
}

.topbar .search {
    position: relative;
    width: 216px;
    height: 28px;
    margin: 10px auto 0;
    margin-right: 30px;
}

.topbar .search .left_park_side {
    width: 15px;
    height: 28px;
    background: url("../img/topbar_sprite2.png") no-repeat;
    float: left;
}

.topbar .search .right_park_side {
    width: 15px;
    height: 28px;
    background: url("../img/topbar_sprite2.png") no-repeat -208px 0;
    float: left;
}

.topbar .search form {
    width: 186px;
    height: 28px;
    background: url(../img/topbar_sprite2.png) no-repeat -15px 0;
    float: left;
}

.topbar .search input {
    float: left;
    display: block;
    margin-top: 6px;
    width: 170px;
    color: #898989;
    background-color: transparent;
}

.topbar .search input[type="button"] {
    width: 16px;
    height: 17px;
    text-indent: -999em;
    cursor: pointer;
    border: 0 none;
    background: url(../img/topbar_sprite2.png) no-repeat -222px -1px;
}

.topbar .search.focus .left_park_side {
    background-position: 0 -29px;
}

.topbar .search.focus .right_park_side {
    background-position: -208px -29px;
}

.topbar .search.focus form {
    background-position: -25px -29px;
}

.topbar .search .autocomplete {
    position: absolute;
    top: 29px;
    left: 0;
    z-index: 290;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 100%;
    background: #000;
    overflow: hidden;
}

.topbar .search .autocomplete li a {
    display: block;
    color: #ccc;
    padding: 0 20px;
    height: 30px;
    line-height: 26px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.topbar .search .autocomplete li a:hover {
    color: #fff;
    background-color: #4d4d4d;
}

.topbar .vip {
    margin-right: 20px;
}

.vip .vipBtn {
    background: url(../img/topbar_icon.png) no-repeat -33px -33px;
    display: block;
    width: 33px;
    height: 25px;
    margin-top: 13px;
}

.vip .vipBtn:hover {
    background: url(../img/vip_hover.png) 5px 5px no-repeat;
}

.topbar .upload {
    margin-right: 15px;
}

.topbar .uploadBtn {
    background: url(../img/topbar_icon.png) no-repeat 0 -33px;
    display: block;
    width: 25px;
    height: 25px;
    margin-top: 11px;
}

.topbar .uploadBtn:hover {
    background: url(../img/upload_hover.png) 7px 6px no-repeat;
}

.topbar .appBox span {
    display: inline-block;
    background: url(../img/app.png) no-repeat;
    width: 21px;
    height: 21px;
    margin-top: 17px;
    vertical-align: top;
}

.appBox .top-nav .dropdownmenu {
    width: 100px;
}

.topbar .appBox li:hover span {
    background: url(../img/app_hover.png) no-repeat;
}

.footer {
    margin: 30px auto 0;
    min-width: 1000px;
    height: 150px;
    color: #999;
    line-height: 22px;
    text-align: center;
    background-color: #fff;
    margin-top: 4px;
}

.footer_link {
    font-size: 14px;
    padding: 35px 0 20px;
    color: #666;
}

.footer a {
    color: #999;
}

.footer a:hover {
    color: #690;
    text-decoration: none;
    width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.footer_copy img {
    display: inline-block;
}

/*首播左侧大图轮播*/

.shoubo_quanbu .leftBigSlide {
    width: 1880px;
    height: 378px;
    position: relative;
    left: -470px;
}

/*轮播列表*/

.leftBigSlideEle {
    position: relative;
    width: 470px;
    margin-left: 0;
}

/*单行列表尺寸*/

.containerBox .contentBox.one_row {
    height: 199px;
}

/*热播推荐标题换一换按钮*/

.rebotuijianOuter .contentBox {
    position: relative;
    height: 291px;
}

.rebotuijianOuter .contentBox ul {
    width: 1220px;
    position: absolute;
    top: 17px;
    opacity: 1;
    z-index: 1;
}

.rebotuijianOuter .contentBox ul:nth-child(2),
.rebotuijianOuter .contentBox ul:nth-child(3) {
    /*opacity: 0;*/
    display: none;
    z-index: 0;
}

/*音乐V榜*/

.titleBox .titleBtn {
    margin-left: 15px;
    margin-top: 6px;
}

.titleBox .titleBtn a {
    color: #666;
    font-size: 14px;
    padding: 0 13px;
    line-height: 14px;
    float: left;
    border-left: 1px solid #e5e5e5
}

.titleBox .titleBtn a:hover {
    color: #52e2c0;
}

/*自制节目标题右侧更多按钮*/

.titleBox .more_btn {
    color: #a4a4a4;
    font-size: 14px;
    float: right;
}

/*猜你喜欢广告*/

.containerBoxOuter .advertiser {
    text-align: -webkit-center;
    margin-bottom: 40px;
}

.containerBoxOuter .advertiser a {
    display: block;
    margin-top: 5px;
}

* {
    user-select: none;
}

body {
    background: #f3f5f7;
}

/***********************************strat轮播图*********************************************/

.slidePic {
    position: relative;
    min-width: 1020px;
    max-width: 1600px;
    height: 480px;
    margin: 41px auto 0;
}

/*轮播元素*/

.slidePic li {
    height: 480px;
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 0;
    transition: .5s;
}

.slidePic li a {
    display: block;
    width: 100%;
    height: 100%;
}

/*轮播元素背景*/

.slidePic ul li:nth-child(1) {
    background: url("../img/banner01.jpg");
}

.slidePic ul li.active {
    opacity: 1;
}

/*透明菜单定位框*/

.slideTitleOuter {
    width: 1220px;
    height: 200px;
    margin: 0 auto;
    position: relative;
}

/*透明菜单*/

.slideTitleBox {
    position: absolute;
    background: url(../img/title_bg.png) no-repeat;
    width: 258px;
    height: 390px;
    padding-top: 14px;
    top: 29px;
    right: 0;
    text-align: center;
    z-index: 2;
}

.slideTitle {
    display: inline-block;
    width: 230px;
    font-size: 14px;
    color: #fff;
    line-height: 34px;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.slideTitle.active {
    color: #52e2c0;
}

/*空白广告栏*/

.blankBanner {
    width: 100%;
    height: 10px;
    margin: 0 auto;
    background: white;
}

/*主要内容部分*/

.main {
    min-width: 1020px;
    max-width: 1600px;
    /*height: 500px;*/
    margin: 0 auto;
}

.containerBoxOuter {
    background: white;
    border-bottom: 4px solid #f3f5f7;
}

.containerBox {
    width: 1220px;
    margin: 0 auto;
    position: relative;
}

/*内容标题*/

.titleBox {
    padding: 34px 0 16px;
}

.titleBox h3 {
    color: #000;
    line-height: 20px;
}

/*右侧按钮*/

.titleBox ul li {
    padding: 0 19px;
    float: left;
}

.titleBox ul li a:hover {
    color: #52e2c0;
}

/*第一个无背景*/

.titleBox ul li:nth-child(1) {
    background: none;
}

.titleBox ul li a {
    font-size: 14px;
    color: #666;
    line-height: 20px;
    padding-bottom: 16px;
}

/*标签被选中后样式*/

.titleBox ul li.choose a {
    color: #52e2c0;
    border-bottom: 2px solid #52e2c0;
}

.titleBox a:hover {
    color: #52e2c0;
}

/*标题下方分割线*/

.line {
    height: 2px;
    background: #f4f4f4;
    margin-top: -2px;
}

/*展示内容*/

.contentBox {
    height: 398px;
    padding-top: 17px;
    overflow: hidden;
    position: relative;
    margin-bottom: 4px;
}

.containerBox a {
    color: rgb(51, 51, 51);
}

/*公共图片尺寸定义*/

.contentBox li a div {
    overflow: hidden;
    width: 220px;
    height: 124px;
}

.contentBox li img {
    width: 220px;
    height: 124px;
    display: block;
    overflow: hidden;
    transition: transform 1s linear;
}

/*公共标题尺寸定义*/

.contentBox li h5 {
    font-size: 14px;
    line-height: 16px;
    margin: 12px 12px 10px;
    width: 196px;
    white-space: nowrap;
}

/*公共描述尺寸定义*/

.contentBox li p {
    font-size: 12px;
    line-height: 16px;
    margin: 0 12px 21px;
    color: rgb(51, 51, 51);
    width: 196px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*左侧大图*/

.contentBox ul li.leftBig {
    width: 470px;
    margin-left: 0;
    overflow: hidden;
    position: relative;
}

/*左侧大图图片尺寸定义*/

.contentBox ul li.leftBig img {
    width: 470px;
    height: 323px;
}

/*左侧大图标题定义*/

.contentBox ul li.leftBig h5 {
    font-size: 16px;
    line-height: 16px;
    margin: 12px;
}

/*左侧大图描述定义*/

.contentBox li.leftBig p {
    font-size: 14px;
    line-height: 14px;
    margin: 0 12px;
    color: rgb(51, 51, 51);
}

.contentBox ul li:nth-child(1) {
    margin-left: 0;
}

/*首播内容列表，娱乐内容列表*/

.yule_quanbu,
.shoubo_quanbu {
    width: 3750px;
    position: absolute;
    overflow: hidden;

    display: block;
    transition: .5s;
}

/*列表所有正常尺寸（不包括大图）*/

.simpleListEle {
    float: left;
    margin-left: 30px;
    width: 220px;
    height: 378px;
    position: relative;
    /*background: #f1f1f1;*/
}

.simpleListEle a:hover h5,
.simpleListEle a:hover p {
    color: #52e2c0;
}

.simpleListEle a:hover img {
    width: 220px;
    height: 124px;
}

.like a:hover img {
    transform: scale(1.5)
}

.simpleListEle a:hover ~ .hoverBox {
    display: block;
}

/*音乐V榜、自制视频的列表*/

.vbang_zizhi li .date_or_zizhiTitle_box h4 {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
}

.vbang_zizhi li .date_or_zizhiTitle_box span {
    display: block;
    color: rgb(51, 51, 51);
    margin-bottom: 15px;
}

.vbang_zizhi .simpleListEle .vbang_zizhi_item {
    height: 73px;
    border-top: 1px solid #f4f4f4;
}

.vbang_zizhi .simpleListEle .vbang_zizhi_item img {
    height: 120px;
    display: none;
}

.vbang_zizhi .simpleListEle .vbang_zizhi_item.active {
    height: 192px;
    border-top: none;
}

.vbang_zizhi .simpleListEle .vbang_zizhi_item.active h5 {
    color: rgb(51, 51, 51);
}

.vbang_zizhi .simpleListEle .vbang_zizhi_item.active img {
    display: block;
}

.simpleListEle .vbang_zizhi_item h5 {
    display: block;
    font-size: 14px;
    line-height: 25px;
    margin: 12px 12px 8px;
    max-height: 50px;
    text-overflow: inherit;
    white-space: inherit;
}

/***********商城专用导航栏start*****************************************************************/

.market_head {
    width: 100%;
    height: 30px;
    background: #1c1d1e;
}

.head_contain {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

/*商城导航右侧三个按钮*/

.market_title {
    position: absolute;
    right: -35px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
}

.weibo,
.weixin,
.zhengpin {
    width: 135px;
    text-align: center;
    cursor: pointer;
    color: #9B9B9C;
    position: relative;
}

.weibo:hover .scan_weibo {
    display: block;
}

.weixin:hover .scan_weixin {
    display: block;
}

.erweima {
    position: absolute;
    top: 0;
    width: 135px;
    text-align: center;
    /*z-index: 100;*/
    cursor: pointer;
    padding: 0 10px;
    background: white;
    font-size: 12px;
    color: #9B9B9C;
    line-height: 30px;
    z-index: 10;
}

.scan_weibo,
.scan_weixin {
    left: -9px;
    display: none;
}

.scan {
    font-size: 14px;
    color: #ff2c72;
    /*margin-top: px;*/
}

.scanMore {
    font-size: 14px;
    color: #1f2021;
    margin-top: -11px;
}

.market_title .span {
    display: block;
    width: 20px;
    color: #2f3031;
}

/***********商城专用导航栏end*********************************************************8************/
/*******************商城搜索区strat*************************************************************/

.search_area {
    border-bottom: 1px solid #4c4d4e;
    background: #1f2122;
    margin-top: -40px;
}

.search_area_contain {
    margin: 40px auto 0;
    width: 1200px;
    position: relative;
}

/*******************商城logo*****************/

.market_logo {
    width: 73px;
    height: 77px;
    margin-top: 28px;
    margin-left: 65px;
}

/*******************商城搜索栏*********************/
/*搜索框模糊时为黑色*/

.market_search_bar {
    position: relative;
    margin: 45px 0 0 230px;
    width: 451px;
    height: 38px;
    background: url(../img/search_icon.png) no-repeat -1px -44px;
}

/*搜索框聚焦时为白色*/

.market_search_bar.active {
    position: relative;
    margin: 45px 0 0 230px;
    width: 451px;
    height: 38px;
    background: url(../img/search_icon.png) no-repeat -1px -1px;
}

.market_search_bar input {
    position: absolute;
    top: 2px;
    left: 23px;
    width: 415px;
    height: 17px;
    background: none;
    color: #918f8f;
    line-height: 17px;
    padding-top: 9px;
}

/*****************搜索按钮*********************/
/****************搜索框模糊时搜索按钮为白色****************/

.search_button {
    position: absolute;
    top: 0;
    right: 15px;
    display: block;
    width: 24px;
    height: 39px;
    background: url(../img/search_icon.png) -461px 0 no-repeat;
}

/*****************搜索框聚焦时搜索按钮为粉色***************/

.market_search_bar.active .search_button {
    position: absolute;
    top: 0;
    right: 15px;
    display: block;
    width: 24px;
    height: 39px;
    background: url(../img/search_icon.png) -461px -43px no-repeat;
}

/******************商城搜索区end***********************************************************/
/********************板块选择条start*****************************************************/

.selection_bar {
    height: 35px;
    background: #1f2122;
}

.selection_contain {
    position: relative;
    margin: 0 auto;
    width: 1200px;
}

/*艺人分类按钮*/

.artist_type {
    position: relative;
    width: 100px;
    background: #191a1b;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 35px;
    cursor: pointer;
    margin: 0 50px;
    margin-right: 80px;
}

/*板块选择按钮*/

.selection_list li {
    margin-right: 44px;
    padding: 0 15px;
    height: 32px;
    color: #f5f5f5;
    font-size: 14px;
    line-height: 35px;
}

.selection_list li:nth-child(1) {
    border-bottom: 3px solid #ff2c72;
}

.selection_list li a {
    color: #f5f5f5;
}

.selection_list li:nth-child(1) a {
    color: #ff2c72;
}

/*按钮覆盖后效果*/

.selection_list li a:hover {
    color: #ff2c72;
}

/****************************板块选择条end*************************************/
/******************************横幅图片start***********************/

.banner_box {
    width: 1200px;
    margin: 0 auto;
    height: 398px;
    position: relative;
}

/*轮播图盒子*/

.slide_box {
    width: 1200px;
    height: 398px;
    position: relative;
    overflow: hidden;
}

/*轮播图主体*/

.slide_box_inner {
    width: 1200px;
    height: 398px;
    overflow: hidden;
    position: relative;
}

/*横幅图片end*****************************************************************/
/*主要内容中盒子的公共样式start**************************************************/
/*每个板块大盒子*/

.rule_box {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

/*每个板块标题的背景精灵图*/

.rule_box h3 {
    background: url(../img/shop_title1.png) no-repeat;
    height: 50px;
    margin: 18px 0 10px;
    position: relative;
}

/*灰色大盒子*/

.grey_box {
    background: #f5f5f5;
    padding-top: 2px;
}

.grey_box_2 {
    background: #f5f5f5;
    padding: 10px 0 40px;
}

/*主要内容中盒子的公共样式end**************************************************/
/*追星必备start*******************************************************************/
/*追星标题*/

.zhuixing_topic {
    background: url(../img/zx-topic.png) no-repeat;
    height: 50px;
    margin: 18px 0 10px;
    position: relative;
}

/*追星主要内容外框*/

.zhuixing_contain {
    position: relative;
}

/*箭头分割线*/

.line {
    width: 1px;
    height: 13px;
    background: #fdd4e2;
    position: absolute;
    left: 836px;
    top: -20px;
}

/*追星主要内容列表*/

.zhuixing_slide {
    position: relative;
}

.zhuixing_slide_list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

.zhuixing_slide_ele {
    float: left;
    height: 100%;
    margin-right: 18px;
}

.zhuixing_slide_ele a {
    display: block;
    width: 200px;
}

.zhuixing_slide_ele a img {
    width: 200px;
    height: 100px;
}

.zhuixing_slide_ele p {
    font-size: 14px;
    color: #474a4b;
    line-height: 32px;
    width: 100%;
    text-align: center;
    background: #f7f7f7;
}

/*追星主要内容右侧广告*/

.zhuixing_right_ad a img {
    display: block;
    width: 299px;
    height: 132px;
}

/*追星必备end************************************************************************/
/*top榜start**************************************************************************/

.top_box h3 {
    background-position: 0 -50px;
    text-align: center;
}

/*两个小标签正常样式*/

.star_title,
.products_title {
    color: #494d4e;
    line-height: 19px;
    width: 63px;
    height: 19px;
    display: inline-block;
    margin-top: 15px;
    cursor: pointer;
}

/*两个标签激活后样式*/

.top_box h3 span.active {
    /*background: url(./img/chart_bg.png) no-repeat;*/
    color: #fff;
}

/*明星榜主要内容*/

.artist_chart,
.products_chart {
    overflow: hidden;
    padding-top: 5px;
    display: none;
}

.artist_chart li {
    float: left;
    width: 136px;
    margin-left: 16px;
    position: relative;
}

/*明星和产品,清除最左侧li的margin*/

.artist_chart li:nth-child(1),
.products_chart li:nth-child(1) {
    margin: 0;
}

.artist_chart li a {
    display: block;
    width: 136px;
    height: 181px;
}

.artist_chart li a img {
    width: 136px;
    height: 136px;
    display: block;
}

/*明星榜每个图片右上角小标签*/

.artist_chart li span {
    position: absolute;
    font-size: 25px;
    color: #333739;
    line-height: 35px;
    font-weight: bold;
    height: 57px;
    width: 55px;
    background: url(../img/topten-span_02.png);
    text-indent: 11px;
}

/*明星榜前三个粉色标签样式*/

.artist_chart li.color span {
    background: url(../img/topten-span_01.png);
    color: #fff;
}

/*明星榜每个图片下面文字介绍*/

.artist_chart li a .info {
    width: 136px;
    height: 45px;
    background-color: #fafafa;
    position: absolute;
}

.artist_chart li h4 {
    font-size: 14px;
    color: #333739;
    text-align: center;
    font-weight: 600;
    line-height: 45px;
}

.artist_chart li p {
    text-align: center;
    position: absolute;
    bottom: 45px;
    background: url(../img/mingxing_v1.png);
    height: 22px;
    width: 100%;
}

.artist_chart li p i {
    color: #fff;
    text-align: center;
}

/*产品榜主要内容*/

.products_chart li {
    float: left;
    width: 126px;
    margin-left: 16px;
    border: 1px solid #c3cbcf;
    padding: 4px;
    position: relative;
}

.products_chart li a {
    display: block;
    width: 126px;
    height: 173px;
}

.products_chart li a img {
    width: 126px;
    height: 126px;
}

.products_chart li a h4 {
    font-size: 14px;
    color: #333739;
    height: 40px;
    overflow: hidden;
    margin-top: 3px;
    margin-bottom: 5px;
}

/*商品榜图片左上角标签*/

.products_chart li a span {
    position: absolute;
    width: 35px;
    height: 35px;
    font-size: 25px;
    top: -1px;
    left: -1px;
    color: #333739;
    background: #c3cbcf;
    text-align: center;
    line-height: 35px;
    font-weight: bold;
}

/*前三个粉色标签*/

.products_chart li.color {
    border: 1px solid #ff2c72;
}

.products_chart li.color a span {
    color: #fff;
    background: #f52a6e;
}

/*top榜end*****************************************************************************/
/*新品首发start*********************************************************************d*/

.new_box h3 {
    background-position: 0 -100px;
}

/*产品内容*/

.new_product_list {
    overflow: hidden;
    padding-bottom: 20px;
    width: 1212px;
}

.new_product_list li {
    float: left;
    background: #fafafa;
    width: 393px;
    height: 190px;
    margin: 0 11px 10px 0;
}

.new_product_list li a {
    overflow: hidden;
    display: block;
}

.new_product_list li a .left_pic {
    width: 190px;
    height: 190px;
}

.new_product_list li a .left_pic img {
    width: 100%;
    height: 100%;
}

.new_product_list li a .right_info {
    margin-left: 215px;
    padding: 35px 25px 0 0;
}

.new_product_list li a .right_info .name {
    color: #494c4d;
    font-size: 14px;
    height: 45px;
    overflow: hidden;
}

.new_product_list li a .right_info .price {
    color: #ff437e;
    font-size: 14px;
    margin: 10px 0 13px;
}

.like {
    color: #b3b3b3;
}

.like span {
    display: inline-block;
    background: url(../img/ico.png) 0 -72px no-repeat;
    width: 13px;
    height: 10px;
    margin-right: 5px;
}

.like span:hover {
    background-position: -13px -72px;
}

.new_product_list li a .right_info .like span:hover {
    background-position: -13px -72px;
}

/*鼠标覆盖后阴影*/

.new_product_list li:hover,
.product_list li:hover {
    box-shadow: 3px 3px 10px #ccc;
}

/*新品首发end*********************************************************************d*/
/*大家喜欢start***************************************************************/

.like_box {
    padding-bottom: 30px;
}

.like_box h3 {
    background-position: 0 -150px;
}

/*大家喜欢内容*/

.product_list {
    overflow: hidden;
    width: 1212px;
    padding-bottom: 10px;
}

.product_list li {
    float: left;
    width: 190px;
    height: 300px;
    margin-right: 12px;
    margin-bottom: 10px;
    padding: 15px 20px 0;
    background: #fff;
}

.product_list li a {
    display: block;
}

.product_list li a img {
    width: 190px;
    height: 190px;
}

.product_list li a .name {
    height: 45px;
    color: #5b5b5b;
    font-size: 14px;
    overflow: hidden;
    margin: 10px 0;
}

.product_list .price {
    font-size: 14px;
    color: #ff447e;
    display: inline-block;
    margin-right: 10px;
}

.product_list .like {
    display: inline-block;
    float: right;
    margin-right: 8px;
}

/*大家喜欢end******************************************************************/

.footer {
    margin: 30px auto 0;
    min-width: 1000px;
    height: 150px;
    color: #999;
    line-height: 22px;
    text-align: center;
    background-color: black;
    margin-top: 4px;
}

.footer_link {
    font-size: 14px;
    padding: 35px 0 20px;
    color: #666;
}

.footer a {
    color: #999;
}

.footer a:hover {
    color: #690;
    text-decoration: none;
    width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.footer_copy img {
    display: inline-block;
}

/* Other */
#one {
    font-size: 18px;
    font-weight: bold;
}

#two {
    float: right;
}

#shoubo_quanbu {
    width: 1220px;
    height: 378px;
    align-items: center;
    justify-content: center;
}

#abc {
    width: 1220px;
}

#three {
    font-size: 18px;
    font-weight: bold;
}

#four {
    float: right;
}

#q {
    font-size: 17px;

}

#q a {
    text-decoration: none;
    color: #9B9B9C;
}

#q a:hover {
    color: skyblue;
}

#qw a {
    text-decoration: none;
    color: black;
}

#BBBig {
    width: auto;
    height: auto;
}

#sblznmsl li {
    list-style: none;
    display: inline-block;
    float: left;
    margin: 10px;
}

#qww a {
    text-decoration: none;
    color: black;
}

#qwww a {
    text-decoration: none;
    color: black;
}

.ppp {
    width: 245px;
    height: 400px;
}

#sss {
    font-size: 20px;
}

.linki-im {
    margin: auto;
}

#q {
    font-size: 17px;

}

#q a {
    text-decoration: none;
    color: #9B9B9C;
}

#q a:hover {
    color: skyblue;
}

#qw a {
    text-decoration: none;
    color: black;
}

#BBBig {
    width: auto;
    height: auto;
}

li {
    list-style: none;
    display: inline-block;
    float: left;
    margin: 10px;

}

#qww a {
    text-decoration: none;
    color: black;
}

#qwww a {
    text-decoration: none;
    color: black;
}

.ppp {
    width: 245px;
    height: 400px;


}

#sss {
    font-size: 20px;
}

#qq a {
    text-decoration: none;
    color: #9B9B9C;
}

#qq a:hover {
    color: skyblue;
}

#yi a {
    text-decoration: none;
    color: black;
}

#BBBigs {
    width: auto;
    height: auto;
}

li {
    list-style: none;
    display: inline-block;
    float: left;
    margin: 10px;

}

#re a {
    text-decoration: none;
    color: black;
}

#san a {
    text-decoration: none;
    color: black;
}

.ppp {
    width: 245px;
    height: 400px;
}

#qu {
    font-size: 20px;
}

#pppdi {
    font-size: 20px;
}

#pppdiq {
    color: #666666;
}

#zjxc {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

#zjxc h3 {
    background: url(../img/shop_title1.png) no-repeat;
    height: 50px;
    margin: 18px 0 10px;
    position: relative;
}

#zjxc ul {
    display: inline-block;
    list-style: none;
    margin: 0 auto;
}

.zjxc-left, .zjxc-left {
    margin: 0 25px;
    width: 160px;
    height: 150px;
}

#zjxc-left-1 {
    margin: 0 25px 0 0;
}

.zjxc-right ,.zjxc-right img {
    margin: 0 0 0 15px;
    width: 354px;
    height: 150px;
}

.zjxc-left-p {
    text-align: center;
    left: 25px;
    position: relative;
}